@font-face {
    font-family: 'EditorialNew-Light';
    src: url('fonts/EditorialNew-Light.otf') format('opentype');
}

@font-face {
    font-family: 'EditorialNew-Ultralight';
    src: url('fonts/EditorialNew-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'EditorialNew-Thin';
    src: url('fonts/EditorialNew-Thin.otf') format('opentype');
}

@font-face {

    font-family: Agrandir;
    src: url("Agrandir-TightBlack.ttf") format("ttf"), url("Agrandir-TightBlack.ttf") format("truetype");

}

@font-face {
    font-family: 'Agrandir-Regular';
    src: url('fonts/Agrandir-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Kessler-Display';
    src: url('fonts/kesslersuperdisplay-regular-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Regular';
    src: url('fonts/protogrotesk-regular-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Extralight';
    src: url('fonts/protogrotesk-extralight-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Light';
    src: url('fonts/protogrotesk-light-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Bold';
    src: url('fonts/protogrotesk-bold-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'Ogg-Regular';
    src: url('fonts/Ogg-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Ogg-Light';
    src: url('fonts/Ogg-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Ogg-Thin';
    src: url('fonts/Ogg-Thin.otf') format("opentype");
}


@font-face {
    font-family: 'Post-Book';
    src: url('fonts/PostGrotesk-Book.otf') format("opentype");
}

@font-face {
    font-family: 'Post-Light';
    src: url('fonts/PostGrotesk-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Surt-Light';
    src: url('fonts/Surt-LightExp..otf') format("opentype");
}

@font-face {
    font-family: 'Surt-Light-Ext';
    src: url('fonts/Surt-LightExtended.otf') format("opentype");
}

@font-face {
    font-family: 'Garnett-Light';
    src: url('fonts/Garnett-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Garnett-Regular';
    src: url('fonts/Garnett-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Haas-Regular';
    src: url('fonts/NeueHaas.otf') format("opentype");
}

@font-face {
    font-family: 'Roobert-Light';
    src: url('fonts/RoobertTRIAL-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Roobert-Regular';
    src: url('fonts/RoobertTRIAL-Regular.otf') format("opentype");
}

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*background-color: #020F1C;*/
    background-color: #090909;
    color: #c4ac9d;
}

body {
  overflow: auto;
}

html {
  background-color: #090909;
}

* {
    box-sizing: inherit;
}

/* Styles ————————————————————————————————————————————————————————————————————— */

h1 {
    display: inline;
    font-family: 'Ogg-Thin', sans-serif;
    font-size: 7.5rem;
    font-weight: normal;
    line-height: 1.1;
    padding: 0;
    margin: 0;
    color: #c4ac9d;
    /*text-shadow: 0px 0px 16px #c4ac9d;*/
    /*-webkit-text-stroke: 1px #f5f5f5;*/
}

h2 {
    display: inline;
    font-family: 'Ogg-Thin', serif;
    font-size: 4rem;
    font-weight: normal;
    padding: 0;
    margin: 0;

}

h3 {
    display: inline;
    font-family: 'Ogg-Light', serif;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h4 {
    display: inline;
    font-family: 'Roobert-Light', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h5 {
    display: inline;
    font-family: 'Roobert-Light', serif;
    font-size: 7.5rem;
    line-height: 1.1;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

p {
    display: inline;
    font-family: 'Roobert-Light', serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

small {
    display: inline;
    font-family: 'Ogg-Light', serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

a:hover {
}

/* Navigation ————————————————————————————————————————————————————————————————————— */

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    padding: 2rem 3rem;
}

#home-button {
    display: inline-block;
    text-decoration: none;
    color: #c4ac9d;
}

#menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    border: 1px solid #C5AC9D;
    border-radius: 10rem;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

#menu-button svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #c4ac9d;
}

#cursor {
  z-index: 99;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 800px;
  pointer-events: none;
  /*box-shadow: 0px 0px 16px 16px rgba(9, 9, 9, 1);*/
  color: #020F1C;
  /*backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);*/
}

/* Menu ————————————————————————————————————————————————————————————————————— */

#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    height: 100%;
    width: 100%;

    padding: 2rem 3rem;

    background-color: rgba(9, 9, 9, 0.5);

    display: none;

    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

#menu-content {
  width: 100%;
  height: auto;
  flex-grow: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

#menu-content a {
  text-decoration: none;
  color: #c4ac9d;
 }

#menu svg {
    margin: 2rem 0rem;
}

#menu-mission-link:hover {
  color: #dea8fa;
  transition: all 0.4s ease-out;
}

#menu-sourcebook-link:hover {
  color: #b7c7f7;
  transition: all 0.4s ease-out;
}

#menu-about-link:hover {
  color: #90a565;
  transition: all 0.4s ease-out;
}

#menu-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /*border: 1px solid #c4ac9d;*/
    border-radius: 8px;
    overflow: hidden;
}

#menu-footer a:hover {
  color: #090909;
  background-color: #c4ac9d;
}

#menu-footer-1 {
  display: block;
  padding: 0.75rem 1.5rem;
  border: 1px solid #c4ac9d;
  border-radius: 8px;
  flex-grow: 1;
  transition: all 0.4s ease-out;
  margin-right: 1.5rem;
}

#menu-footer-2 {
  display: block;
  padding: 0.75rem 1.5rem;
  border: 1px solid #c4ac9d;
  border-radius: 8px;
  flex-grow: 1;
  transition: all 0.4s ease-out;
}

#menu-footer-3 {
  min-width: 1rem;
  min-height: 1rem;
  display: block;
  flex-grow: 2;
}

#menu-footer-4 {
  display: block;
  padding: 0.75rem 1.5rem;
  border: 1px solid #c4ac9d;
  border-radius: 8px;
  flex-grow: 1;
  transition: all 0.4s ease-out;
}



/* Homepage Content ————————————————————————————————————————————————————————————————————— */

#symposium-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 3rem;
    width: 100%;
    text-align: left;

    /*text-shadow: 0px 0px 16px #c4ac9d;*/

}

.quotes {
  display: none;
}

#myElement {
    pointer-events: none;
}

#title-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    /*border: 1px solid #c4ac9d;*/
    border-radius: 8px;
}

#home-footer-left {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-top: 1px solid #c4ac9d;
    border-left: 1px solid #c4ac9d;
    border-bottom: 1px solid #c4ac9d;
    border-radius: 8px 0px 0px 8px;
    flex-grow: 2;
}

#info-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    /*padding: 0.5rem 2rem;
    border: 1px solid #c4ac9d;*/
    transition: all 0.4s ease-out;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border: 1px solid #c4ac9d;
    border-radius: 0px 8px 8px 0px;
    text-decoration: none;
    color: #c4ac9d;
}

#info-link:hover {
  background-color: #c4ac9d;
  color: #090909;
  /*border-color: #ff4f01;*/
}

#info-link svg {
    display: none;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0rem 0rem 0rem 0rem;
    transform: rotate(-45deg);
    fill: #c4ac9d;
    transition: all 0.4s ease-out;
    /*stroke: #090909;
    stroke-width: 0px;*/
}

#info-link:hover svg {

    fill: #ff4f01;
}

/* Moth Link ————————————————————————————————————————————————————————————————————— */

#moth-link {
  position: absolute;
  top: 15%;
  left: 0%;
  transform: rotate(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 45%;
  background-color: none;
}

#moth-link-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#moth-1 {
  max-width:100%;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 1;
}

#moth-2 {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  z-index: 2;
}

#moth-hover-area {
  width: 65%;
  height: 45%;
  margin: auto;
  display: block;
  position: absolute;
  top: 25%;
  z-index: 10;
  background-color: none;
  opacity: 0.5;
  transform: rotate(12deg);
  cursor: none;
}

/* Moon Link ————————————————————————————————————————————————————————————————————— */

#moon-link {
  position: absolute;
  top: 0%;
  left: 32%;
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 55%;
  background-color: transparent;
}

#moon-link-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  width: 150%;
}

#moon-1 {
  max-width:100%;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 1;
}

#moon-2 {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  z-index: 2;

}

#moon-hover-area {
  width: 32%;
  height: 48%;
  margin: auto;
  display: block;
  position: absolute;
  top: 24%;
  left: 35%;
  z-index: 10;
  background-color: transparent;
  opacity: 0.5;
  transform: rotate(0deg);
  cursor: none;
}

/* Lotus Link ————————————————————————————————————————————————————————————————————— */

#lotus-link {
  position: absolute;
  bottom: 0%;
  right: 3%;
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 30%;
  background-color: transparent;
  overflow: hidden;
}

#lotus-link-image {
  transform: rotate(10deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

#lotus-1 {
  max-width:150%;
  max-height: 150%;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 1;
}

#lotus-2 {
  max-width: 150%;
  max-height: 150%;
  margin: auto;
  position: absolute;
  z-index: 2;
  border: 1px solud white;
}

#lotus-hover-area {
  width: 14%;
  height: 28%;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 33%;
  right: 10%;
  z-index: 11;
  background-color: transparent;
  opacity: 0.25;
  transform: rotate(0deg);
  cursor: none;
}


/* Mission Statement Page ————————————————————————————————————————————————————————————————————— */


@keyframes glow {
  from {
    box-shadow: 
       0 0 64px #dea8fa,
       
              0 0 64px #dea8fa;

  }
  to {
    box-shadow:
        0 0 52px #dea8fa;
  }
}

#mission-statement{
  display:inline-block;
  position:relative;
  margin-top:80px;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:50px;
        font-size:65px;
padding-top: 40px;
float:left;
border:8px;
border-radius:8px;
padding-left:80px;
padding-right: 80px;
padding-bottom: 40px;
animation:3s glow linear infinite alternate;

      

}
#mission-intro{
    margin-top:150px;
  margin-left:100px;
  margin-right:100px;

      font-size:35px;
    line-height: 1.5;
color:#dea8fa;
    font-family: 'Post-Light', sans-serif;
}
#mission-intro a{
  color:#dea8fa;

}
#mission-intro .title{
          font-family: 'Ogg-Regular', sans-serif;

}
#mission-statement .title{
 
/*text-shadow: 0 0 30px var(--used-foreground-color), 0 0 40px var(--used-foreground-color), 0 0 50px var(--used-foreground-color), 0 0 60px var(--used-foreground-color), 0 0 70px var(--used-foreground-color);*/

    line-height: 1.5;
color:#dea8fa;
        font-family: 'Ogg-Regular', sans-serif;

}
/*neuhaus*/
#mission-statement .bodytext{
color:#dea8fa;

       line-height: 1.5;
           font-family: 'Post-Light', sans-serif;

}