@font-face {
    font-family: 'EditorialNew-Light';
    src: url('fonts/EditorialNew-Light.otf') format('opentype');
}

@font-face {
    font-family: 'EditorialNew-Ultralight';
    src: url('fonts/EditorialNew-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'EditorialNew-Thin';
    src: url('fonts/EditorialNew-Thin.otf') format('opentype');
}

@font-face {

    font-family: Agrandir;
    src: url("Agrandir-TightBlack.ttf") format("ttf"), url("Agrandir-TightBlack.ttf") format("truetype");

}

@font-face {
    font-family: 'Agrandir-Regular';
    src: url('fonts/Agrandir-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Kessler-Display';
    src: url('fonts/kesslersuperdisplay-regular-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Regular';
    src: url('fonts/protogrotesk-regular-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Extralight';
    src: url('fonts/protogrotesk-extralight-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Light';
    src: url('fonts/protogrotesk-light-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'ProtoGrotesk-Bold';
    src: url('fonts/protogrotesk-bold-TRIAL.otf') format("opentype");
}

@font-face {
    font-family: 'Ogg-Regular';
    src: url('fonts/Ogg-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Ogg-Light';
    src: url('fonts/Ogg-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Ogg-Thin';
    src: url('fonts/Ogg-Thin.otf') format("opentype");
}


@font-face {
    font-family: 'Post-Book';
    src: url('fonts/PostGrotesk-Book.otf') format("opentype");
}

@font-face {
    font-family: 'Post-Light';
    src: url('fonts/PostGrotesk-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Surt-Light';
    src: url('fonts/Surt-LightExp..otf') format("opentype");
}

@font-face {
    font-family: 'Surt-Light-Ext';
    src: url('fonts/Surt-LightExtended.otf') format("opentype");
}

@font-face {
    font-family: 'Garnett-Light';
    src: url('fonts/Garnett-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Garnett-Regular';
    src: url('fonts/Garnett-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Haas-Regular';
    src: url('fonts/NeueHaas.otf') format("opentype");
}

@font-face {
    font-family: 'Roobert-Light';
    src: url('fonts/RoobertTRIAL-Light.otf') format("opentype");
}

@font-face {
    font-family: 'Roobert-Regular';
    src: url('fonts/RoobertTRIAL-Regular.otf') format("opentype");
}

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*background-color: #020F1C;*/
    background-color: #090909;
    color: #c4ac9d;
}

body {
  overflow: auto;
}

html {
  background-color: #090909;
}

* {
    box-sizing: inherit;
}

/* Scrollbar ————————————————————————————————————————————————————————————————————— */


::-webkit-scrollbar {
  display: none;
  width: 2px;
}

/*
::-webkit-scrollbar-track-piece:start {
  background: #dea8fa;
}

::-webkit-scrollbar-track {
  background: #090909;
  border: 1px solid #dea8fa;
}

::-webkit-scrollbar-thumb {
  background: #dea8fa;
  border: 0px solid #dea8fa;
}

::-webkit-scrollbar-thumb:hover {
  background: #dea8fa;
}
*/

/* Styles ————————————————————————————————————————————————————————————————————— */

h1 {
    display: inline;
    font-family: 'Ogg-Thin', sans-serif;
    font-size: 6rem;
    font-weight: normal;
    line-height: 1.1;
    padding: 0;
    margin: 0;
    color: #c4ac9d;
    /*text-shadow: 0px 0px 16px #c4ac9d;*/
    /*-webkit-text-stroke: 1px #f5f5f5;*/
}

h2 {
    display: inline;
    font-family: 'Ogg-Thin', serif;
    font-size: 4rem;
    font-weight: normal;
    padding: 0;
    margin: 0;

}

h3 {
    display: inline;
    font-family: 'Ogg-Light', serif;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h4 {
    display: inline;
    font-family: 'Roobert-Light', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h5 {
    display: inline;
    font-family: 'Roobert-Light', serif;
    font-size: 7.5rem;
    line-height: 1.1;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

p {
    display: inline;
    font-family: 'Roobert-Light', serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

small {
    display: inline;
    font-family: 'Ogg-Light', serif;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

a:hover {
}

/* Navigation ————————————————————————————————————————————————————————————————————— */

#nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;

    padding: 2rem 3rem;
}


#home-button {
    display: inline-block;
    text-decoration: none;
    color: #c4ac9d;
}

#menu-button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    border: 0px solid #C5AC9D;
    border-radius: 10rem;
    transition: all 0.4s ease-out;
    cursor: pointer;
    z-index: 100;
}

#menu-button svg {
    width: 3rem;
    height: 3rem;
}

#eye-closed {
}

#eye-open {
  display: none;
}

#cursor {
  z-index: 99;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 800px;
  pointer-events: none;
  /*box-shadow: 0px 0px 16px 16px rgba(9, 9, 9, 1);*/
  color: #020F1C;
  /*backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);*/
  transition: opacity 0.4s ease-out;
}

/* Menu ————————————————————————————————————————————————————————————————————— */

@keyframes glowMenu1 {
  from {box-shadow: 0 0 0px #b7c7f7;}
  to {box-shadow: 0 0 64px #b7c7f7;}
}

@keyframes glowMenu2 {
  from {box-shadow: 0 0 0px #dea8fa;}
  to {box-shadow: 0 0 64px #dea8fa;}
}

@keyframes glowMenu3 {
  from {box-shadow: 0 0 0px #90a565;}
  to {box-shadow: 0 0 64px #90a565;}
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 100%;

  padding: 2rem 3rem;

  background-color: rgba(9, 9, 9, 0.75);

  display: none;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

#menu-home-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding: 2rem 3rem;
}

#menu-content {
  width: 100%;
  height: auto;
  flex-grow: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  padding: 4rem 0rem 1rem 0rem;
  background-color: transparent;
}

#menu-content a {

}

.menu-link {
  width: 100%;
  flex-grow: 1;
  border: 1px solid #c4ac9d;
  padding: 2rem 3rem;
  margin: 1rem 0rem;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-out;
}

#menu svg {
    margin: 2rem 0rem;
}

#menu-events-link:hover {
  /*background-color: #090909;
  border-color: #b7c7f7;
  color: #b7c7f7;
  box-shadow: 0 0 32px #b7c7f7;
  animation: 2s glowMenu1 ease-out infinite alternate;*/
}

#menu-mission-link:hover {
  /*background-color: #090909;
  border-color: #dea8fa;
  color: #dea8fa;
  box-shadow: 0 0 32px #dea8fa;
  /*animation: 4s glowMenu2 ease-out infinite alternate;*/
}

#menu-sources-link:hover {
  /*background-color: #090909;
  border-color: #90a565;
  color: #90a565;
  box-shadow: 0 0 32px #90a565;
  animation: 4s glowMenu3 ease-out infinite alternate;*/
}

#menu-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 0px solid #c4ac9d;
    border-radius: 8px;
}

#menu-footer a:hover {
  /*color: #090909;
  background-color: #c4ac9d;*/
}

#menu-footer-1 {
  display: block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #c4ac9d;
  border-radius: 800px;
  flex-grow: 1;
  transition: all 0.4s ease-out;
  margin-right: 1.5rem;
}

#menu-footer-2 {
  display: block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #c4ac9d;
  border-radius: 800px;
  flex-grow: 1;
  transition: all 0.4s ease-out;
}

#menu-footer-3 {
  min-width: 1rem;
  min-height: 1rem;
  display: block;
  flex-grow: 2;
}

#menu-footer-4 {
  display: block;
  padding: 0.5rem 1.5rem;
  border: 1px solid #c4ac9d;
  border-radius: 800px;
  flex-grow: 1;
  transition: all 0.4s ease-out;
}



/* Homepage Content ————————————————————————————————————————————————————————————————————— */

@keyframes glow4 {
  from {
    box-shadow:0 0 0px #c4ac9d;
  }
  to {
    box-shadow: 0 0 32px #c4ac9d;
  }
}

@keyframes textGlow1 {
  from {
    text-shadow:0 0 0px #c4ac9d;
  }
  to {
    text-shadow: 0 0 32px #c4ac9d;
  }
}

#symposium-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 3rem;
    width: 100%;
    text-align: left;
    overflow: visible;
    /*text-shadow: 0px 0px 16px #c4ac9d;*/
    /*animation: 4s textGlow1 ease-out infinite alternate;*/

}

#symposium-title-text {
  display: flex;
  flex-flow: row-nowrap;
  justify-content: flex-start;
}

.quotes {
  display: none;
}

#myElement {
    pointer-events: none;
}

#title-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border: 0px solid #c4ac9d;
    border-radius: 8px;
}

#home-footer-left {
    border-radius: 8px;
    flex-grow: 2;
    border: 1px solid #c4ac9d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 3rem;
    /*animation: 4s glow4 ease-out infinite alternate;*/
}

#home-footer-left div{
    padding: 0.5rem 1.5rem;
    margin-right: 3rem;
    /*border-right: 1px solid #c4ac9d;*/
    border-right: 0px solid #c4ac9d;
    border-radius: 0px;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    /*padding: 0.5rem 2rem;
    border: 1px solid #c4ac9d;*/
    transition: all 0.4s ease-out;
    padding: 0.5rem 1.5rem;
    /*border-top: 1px solid #c4ac9d;
    border-right: 1px solid #c4ac9d;
    border-bottom: 1px solid #c4ac9d;
    border-radius: 0px 8px 8px 0px;*/
    border: 1px solid #c4ac9d;
    border-radius: 800px;
    text-decoration: none;
    color: #c4ac9d;
}

#info-link:hover {
  background-color: #c4ac9d;
  color: #090909;
  /*box-shadow: 0 0 16px #c4ac9d;
  transform: translateY(-0.5rem);
  border-color: #ff4f01;*/
}

#info-link svg {
    display: none;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0rem 0rem 0rem 0rem;
    transform: rotate(-45deg);
    fill: #c4ac9d;
    transition: all 0.4s ease-out;
    /*stroke: #090909;
    stroke-width: 0px;*/
}

#info-link:hover svg {

    fill: #ff4f01;
}

/* Moth Link ————————————————————————————————————————————————————————————————————— */

#moth-link {
  position: absolute;
  top: 15%;
  left: 0%;
  transform: rotate(-30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 45%;
  background-color: none;
}

#moth-link-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#moth-1 {
  max-width:100%;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 1;
}

#moth-2 {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  z-index: 2;
}

#moth-hover-area {
  width: 65%;
  height: 45%;
  margin: auto;
  display: block;
  position: absolute;
  top: 25%;
  z-index: 10;
  background-color: none;
  opacity: 0.5;
  transform: rotate(12deg);
  cursor: none;
}

/* Moon Link ————————————————————————————————————————————————————————————————————— */

#moon-link {
  position: absolute;
  top: 0%;
  left: 32%;
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 55%;
  background-color: transparent;
}

#moon-link-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  width: 150%;
}

#moon-1 {
  max-width:100%;
  max-height: 100%;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 1;
}

#moon-2 {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  z-index: 2;

}

#moon-hover-area {
  width: 32%;
  height: 48%;
  margin: auto;
  display: block;
  position: absolute;
  top: 24%;
  left: 35%;
  z-index: 10;
  background-color: transparent;
  opacity: 0.5;
  transform: rotate(0deg);
  cursor: none;
}

/* Lotus Link ————————————————————————————————————————————————————————————————————— */

#lotus-link {
  position: absolute;
  bottom: 0%;
  right: 3%;
  transform: rotate(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 30%;
  background-color: transparent;
  overflow: hidden;
}

#lotus-link-image {
  transform: rotate(10deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

#lotus-1 {
  max-width:150%;
  max-height: 150%;
  margin: auto;
  display: block;
  position: absolute;
  z-index: 1;
}

#lotus-2 {
  max-width: 150%;
  max-height: 150%;
  margin: auto;
  position: absolute;
  z-index: 2;
  border: 1px solud white;
}

#lotus-hover-area {
  width: 14%;
  height: 28%;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 33%;
  right: 10%;
  z-index: 11;
  background-color: transparent;
  opacity: 0.25;
  transform: rotate(0deg);
  cursor: none;
}


/* Mission Statement Page ————————————————————————————————————————————————————————————————————— */


@keyframes glow {
  from {
    box-shadow:  0 0 16px #dea8fa;
  }
  to {
    box-shadow:  0 0 64px #dea8fa;
  }
}

#mission-statement{
  display:inline-block;
  /*position:relative;
  z-index: -1;*/
  margin: 9rem 9rem 3rem 3rem;
  font-weight: normal;

  border-radius:8px;

  padding: 2rem 3rem 4rem 3rem;

  animation: 4s glow ease-out infinite alternate;

  border: 1px solid #dea8fa;

}
#mission-intro{
    margin-top:150px;
    margin-left:100px;
    margin-right:100px;
    font-size: 2rem;
    line-height: 1.5;
    color:#dea8fa;
    font-family: 'Roobert-Light', sans-serif;
}

#mission-intro a{
    color:#dea8fa;
}

#mission-intro .title{
    font-family: 'Ogg-Thin', sans-serif;

}

#mission-statement .title{
    /*text-shadow: 0 0 30px var(--used-foreground-color), 0 0 40px var(--used-foreground-color), 0 0 50px var(--used-foreground-color), 0 0 60px var(--used-foreground-color), 0 0 70px var(--used-foreground-color);*/
    line-height: 1.5;
    color:#dea8fa;
    font-family: 'Ogg-Thin', sans-serif;
}

/*neuhaus*/
#mission-statement .bodytext{
  color:#dea8fa;
  line-height: 1.75;
  font-family: 'Roobert-Light', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  padding: 0;
  margin: 0;

}
#mission-statement a{
      color:#dea8fa;

}
#mission-statement h3{
    color:#dea8fa;
  line-height: 1.75;
  font-size: 3rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#mission-statement h5{
    color:#dea8fa;
  line-height: 1.75;
  font-size: 3rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#mission-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  width: 100%;
  height: 100%;
}

#mission-footer svg:hover {

}


/* Calendar Page ————————————————————————————————————————————————————————————————————— */

@keyframes glow-blue {
  from {
    box-shadow:
       0 0 16px #b7c8f7;

  }
  to {
    box-shadow:
        0 0 64px #b7c8f7;
  }
}
#events-title{

  margin-top: 6rem;


}
#events-title h2{

  display:inline;
  position:relative;
  color:#b7c8f7;
  margin-left:40px;
}

#event-1 {
display:inline-block;
  /*position:relative;
  z-index: -1;*/
  margin: 3rem 9rem 3rem 3rem;
  font-size: 4rem;
  font-weight: normal;
  padding-top: 40px;
  float:left;
  border: 1px solid #b7c8f7;
  border-radius:8px;
  padding-left:80px;
  padding-right: 80px;
  padding-bottom: 40px;
  animation:3s glow-blue linear infinite alternate;

}

#event-2{
  display:inline-block;
  /*position:relative;
  z-index: -1;*/
  margin: 3rem 9rem 3rem 3rem;
  font-size: 4rem;
  font-weight: normal;
  padding-top: 40px;
  float:left;
  border: 1px solid #b7c8f7;
  border-radius:8px;
  padding-left:80px;
  padding-right: 80px;
  padding-bottom: 40px;
  animation:3s glow-blue linear infinite alternate;
}
#events h5{
  font-size: 55px;
  color:#b7c8f7;}
 #events h3{
  font-size: 55px;
  color:#b7c8f7;}

/* Mobile ————————————————————————————————————————————————————————————————————— */

#mobile-overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  background-color: rgba(9, 9, 9, 1);
  padding: 0rem 0rem;
  text-align: center;
}

#mobile-overlay div {
  margin: 1rem 0rem;
}

#mobile-title {

}

#mobile-details {
  border: 1px solid #c4ac9d;
  border-radius: 8px;
  margin: 0rem 1.5rem;
}

#mobile-details p {
  display: block;
  padding: 0.5rem 3rem;
}

#mobile-rsvp-link {
  width: auto;
  color: #c4ac9d;
  text-decoration: none;
  border: 1px solid #c4ac9d;
  background-color: transparent;
  border-radius: 800px;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0rem 1rem 0rem;
}

#under-construction {
  display: block;
  width: 100%;
  color: #090909;
  background-color: #c4ac9d;
  padding: 1rem 0rem;
  margin-bottom: 0rem !important;
}

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
      overflow-y: hidden;
    }

    #mobile-overlay {
      overflow: scroll;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    #content {
      display: none;
    }

    h1 {
      font-size: 3rem;
    }

  }
