.navLink {
    display: inline-block;
    border-radius: 5rem;
    background-color: #fffaf5;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    transition: all 0.2s ease-in-out;
    border: 1px solid #4E2713;
    margin-left: 0rem;
}

.navLink a {
    color: #4E2713 !important;
    border-radius: 5rem;
    text-decoration: none !important;
}

.navLink:hover {
	background-color: #4E2713;
    /*cursor: url("https://freight.cargo.site/t/original/i/35b43e3689313708541dbf4fcfbffd710717dca60693ce1bbf67afc874c48636/circle-2-5.svg"), auto !important;*/
}

.navLink:hover a{
    display: block;
    color: #fffaf5 !important;
    /*cursor: url("https://freight.cargo.site/t/original/i/35b43e3689313708541dbf4fcfbffd710717dca60693ce1bbf67afc874c48636/circle-2-5.svg"), auto !important;*/
}

.navLink div:first-child {
    border-left: 0;
}

.navLink div:last-child {
    border-right: 0;
}
